aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
akracer==0.0.13
akshare==1.16.91
altair==5.5.0
anyio==4.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==5.0.1
attrs==23.2.0
awscli==1.27.122
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
boto3==1.26.122
botocore==1.29.122
cachetools==5.5.2
certifi==2022.12.7
cffi==1.16.0
charset-normalizer==3.1.0
click==8.1.7
colorama==0.4.4
colour==0.1.5
comm==0.2.1
command-not-found==0.3
contourpy==1.2.0
cryptography==3.4.8
cssselect==1.3.0
cssutils==2.11.1
cycler==0.12.1
dataframe_image==0.2.7
dbus-python==1.2.18
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distro==1.7.0
distro-info===1.1build1
docopt==0.6.2
docutils==0.16
et_xmlfile==2.0.0
exceptiongroup==1.2.0
executing==2.0.1
fake-useragent==1.5.1
fastjsonschema==2.19.1
Flask==3.0.3
fonttools==4.47.0
fqdn==1.5.1
frozenlist==1.6.0
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.2.2
grpcio==1.66.1
grpcio-tools==1.66.1
hpccli @ file:///home/yanbixing/nn_model_converter/Vegas_uw/20240903.Vegas_uw.4f.a12-16.basebos4-8/hpccli-0.0.7-py3-none-any.whl#sha256=273008efa7f8fec037a989de017aa9b81b1867e03dda17a6df9091807735cd6d
html5lib==1.1
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.3
jmespath==1.0.1
json5==0.9.11
jsonpath==0.82.2
jsonpointer==2.4
jsonschema==4.21.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.1
jupyterlab==4.0.10
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
kaleido==0.2.1
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==5.4.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mistune==3.0.2
more-itertools==8.10.0
multidict==6.4.3
narwhals==1.39.0
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.6.0
netifaces==0.11.0
nose==1.3.7
notebook==7.0.6
notebook_shim==0.2.3
numpy==1.24.3
oauthlib==3.2.0
opencv-python==4.7.0.72
openpyxl==3.1.5
ordereddict==1.1
overrides==7.4.0
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.3
pathlib==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pipreqs==0.5.0
platformdirs==4.1.0
playwright==1.52.0
plotly==6.0.1
prometheus-client==0.19.0
prompt-toolkit==3.0.43
propcache==0.3.1
protobuf==5.28.0
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py-mini-racer==0.6.0
pyarrow==20.0.0
pyasn1==0.5.0
pycparser==2.21
pydash==7.0.7
pydeck==0.9.1
pyee==13.0.0
PyExecJS==1.5.1
Pygments==2.17.2
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
pywencai==0.13.1
PyYAML==5.4.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.32.1
reFILE==0.4.1
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.17.1
rsa==4.7.2
s3transfer==0.6.0
schedule==1.2.2
scipy==1.13.0
seaborn==0.13.1
SecretStorage==3.3.1
Send2Trash==1.8.2
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
soupsieve==2.5
stack-data==0.6.3
streamlit==1.45.1
styleframe==4.2
systemd-python==234
tabulate==0.9.0
tenacity==9.1.2
terminado==0.18.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tornado==6.4
tqdm==4.65.0
traitlets==5.14.1
types-python-dateutil==2.8.19.20240106
typing_extensions==4.13.2
tzdata==2023.4
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
uri-template==1.3.0
urllib3==1.26.15
wadllib==1.3.6
watchdog==6.0.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.4
wget==3.2
widgetsnbextension==4.0.9
xlrd==2.0.1
XlsxWriter==3.2.3
yarg==0.1.9
yarl==1.20.0
zipp==1.0.0
